.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
mat-card-title{
  justify-content: center;
  text-align: center;
}
mat-card {
  max-width: 400px;
  width: 100%;
  color:blueviolet;
}

mat-card-header {
  text-align: center;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 20px;
}

a {
  color: #007aff;
  text-decoration: none;
}
