<!-- <app-navbar></app-navbar> -->
<div class="container">
  <mat-card>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Full Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password">
        </mat-form-field>
        
        <mat-checkbox>Agree to terms and conditions</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sign up</button>
    </mat-card-actions>
  </mat-card>
</div>

